APP_NAME=aulia-majoo-test
APP_LOCAL_DEV_PORT=7610
APP_DEV=development

# Remote DEV  Mysql
MYSQL_DB_CONNECTION=mysql
MYSQL_DB_HOST=
MYSQL_DB_PORT=
MYSQL_DB_DATABASE=
MYSQL_DB_USERNAME=
MYSQL_DB_PASSWORD=
MYSQL_DB_TIMEOUT=